.blog-post
  %h2.blog-post-title= blog.title
  %p.blog-post-meta
    = blog.created_at.strftime("%A %d, %B %Y")
    by
    %a{ :href => "#" }= Role.find_by_blog_id(blog.id).user.username

    .blog_image= image_tag blog.main_image

    %p= blog.body
  

/.blog-post